<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*" Name="VidUp $(var.BuildVersion)" Language="1033" Version="$(var.BuildVersion)" Manufacturer="Drexel Development" UpgradeCode="{41AC4E42-952A-4D5B-ABB5-8EC4153BE8AF}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of VidUp is already installed." AllowSameVersionUpgrades="yes" AllowDowngrades="no" />
		<MediaTemplate EmbedCab="yes" />

		<Icon Id="AppIcon" SourceFile="publish/$(var.Configuration)/$(var.Platform)/Images/vidup.ico"/>
		<Property Id="ARPPRODUCTICON">AppIcon</Property>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		<WixVariable Id="WixUILicenseRtf" Value="publish/$(var.Configuration)/$(var.Platform)/license.rtf"/>

		<Feature Id="ProductFeature" Title="VidUp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="ProgramMenuFolder">
				<Directory Id="InstallProgramMenuFolder" Name="VidUp" />
			</Directory>

			<?if $(var.Platform)=x64?>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="VidUp" />

			</Directory>
			<?else?>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="VidUp" />
			</Directory>
			<?endif?>

		</Directory>
	</Fragment>

	<Fragment>

		<ComponentGroup Id="ProductComponents">

			<!-- Shortcut -->
			<ComponentRef Id="MainAppShortcut" />

		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="publish/$(var.Configuration)/$(var.Platform)">
			<Component Id="MainAppShortcut" Guid="{9A1E7774-886A-47D9-ACCF-7E5AE3BC51F0}">

				<Shortcut Id="MainAppShortcut" Name="VidUp" Target="[INSTALLFOLDER]VidUp.exe" Directory="InstallProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" />
				<!-- not really need, but the component section needs a key-->
				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="Software/VidUp" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
